#### Basics of Python

#### Variables

In [2]:
rent = 1220
gas = 202
grocries = 200.2

Total = rent + gas + grocries
print(Total)

1622.2

In [5]:
item1 = "Rent"
item2 = "gas"
item3 = "grocries"
print("Expemse Items:", item1, item2, item3)

Expemse Items: Rent gas grocries

#### Numbers in Python

In [6]:
4*5

20

In [7]:
11%2

1

In [8]:
3**6

729

In [9]:
9**3

729

In [10]:
"""Problem; You are driving from New York city to baltimore and then
going to pitsburg. You want to know how much total distance you will 
be travelling."""

'Problem; You are driving from New York city to baltimore and then\ngoing to pitsburg. You want to know how much total distance you will \nbe travelling.'

In [11]:
nyc_to_bal = 188
bal_to_pitt = 247
total = nyc_to_balc_to_bal + bal_to_pitt

In [12]:
total

435

In [14]:
mph_speed = 65
time = total/mph_speed
print(time)

6.6923076923076925

In [20]:
#"""round() is a function used for cutting down the decimals numbers"""

In [16]:
round(time, 2)

6.69

In [17]:
round(time, 3)

6.692

In [18]:
10 + 2 * 3

16

In [19]:
#for 36
(10+2)*3

36

In [21]:
6-5.7
#Why its not 0.3 ??
#Because in any programming language numbebrs are stored as 
#binary numbers and floating numbers are not stored precisely 
#always with binary numbers. Therefore 0.29999.. instead of 0.3
#so floating numbers always lose their accuracy.
#THerefore for 0.3 we use round funtion

0.2999999999999998

In [22]:
round(6-5.7, 2)

0.3

#### Strings in Python

In [23]:
text = "ice cream"
text

'ice cream'

In [24]:
#strings are stored as like arrays and space also have some index

In [25]:
text[0]

'i'

In [26]:
text[4]

'c'

In [27]:
text[3]

' '

In [28]:
#Change content : Strings are unmutable. Once we create them after that they can not be 
#updated. We can place another string in the variable text but we can not change partially
#the string using index. In other languages strings are mutable
text[0] = 'g'

TypeError: 'str' object does not support item assignment

In [30]:
#Now substring
text[0:3]  # -> 1st index in include and last index is excluded
# i.e from index 0 to index 2.

'ice'

In [31]:
text[4:9]

'cream'

In [32]:
text[4:]

'cream'

In [33]:
text[:6]

'ice cr'

In [34]:
#we can use double and single qoutes both are same. They are usefule
# when we have single quote within the string.

text = "hello"
text = 'hello'
#both are same thing

text = "let's learn python"
text

"let's learn python"

In [35]:
text = 'lets learn "Python"'
text

'lets learn "Python"'

In [36]:
#multiline string

address = ''' 1 purple street
new york
usa'''
address
#Internally it uses \n for the new line.

' 1 purple street\nnew york\nusa'

In [37]:
print(address)

 1 purple street
new york
usa

In [42]:
#Concatenation
s1 = "Hello"
s2 = "World"
s3 = s1 +' ' + s2
s3

'Hello World'

In [2]:
#adding a number to the string

s = "total states in India"
num = 28

s4 = s+num
#Gives error because pyhton doesn't know how to join string 
# with an integer. So we have to convert the number to string.
# we will use the str() function for conversion.

TypeError: can only concatenate str (not "int") to str

In [3]:
str(num)

'28'

In [5]:
s + ' '+str(num)
#simply typescripting.

'total states in India 28'

#### List in Python

In [6]:
items = ["bread", "Pasta", "Fruits", "Vegetables"]
items
#In python list is stored as a memory locations and accesed 
#by the the index. like bread at index 0.

['bread', 'Pasta', 'Fruits', 'Vegetables']

In [7]:
items[0]

'bread'

In [8]:
items[2]

'Fruits'

In [9]:
print(items[0])

bread

In [10]:
#modification of the list. Therefore lists are mutable.
items[0] = "chips"
items[0]

'chips'

In [11]:
items

['chips', 'Pasta', 'Fruits', 'Vegetables']

In [12]:
items[0:2] # 2 will be excluded. So index 0 and index 1.

['chips', 'Pasta']

In [13]:
items[-1] #To print the last index.

'Vegetables'

In [14]:
#append method used to append element
items = ["bread", "Pasta", "Fruits", "Vegetables"]
items

['bread', 'Pasta', 'Fruits', 'Vegetables']

In [15]:
items.append("Butter")
items

['bread', 'Pasta', 'Fruits', 'Vegetables', 'Butter']

In [16]:
items.append('apple')
items

['bread', 'Pasta', 'Fruits', 'Vegetables', 'Butter', 'apple']

In [18]:
items.append(10)

In [19]:
items

['bread', 'Pasta', 'Fruits', 'Vegetables', 'Butter', 'apple', 10, 10]

In [20]:
#lets append at some index
items = ["bread", "Pasta", "Fruits", "Vegetables"]
items

['bread', 'Pasta', 'Fruits', 'Vegetables']

In [21]:
#Insert at index 1
items.insert(1, "butter")
items

['bread', 'butter', 'Pasta', 'Fruits', 'Vegetables']

In [23]:
#Join two lists.
fruits = ["apple", "banana", "Grapes"]
items = ["bread", "Pasta", "Fruits", "Vegetables"]
My_items = fruits + items
My_items

['apple', 'banana', 'Grapes', 'bread', 'Pasta', 'Fruits', 'Vegetables']

In [27]:
print(type(My_items))

<class 'list'>

In [28]:
#insert only single item
fruits + "Mango"
#Because both must be list.

TypeError: can only concatenate list (not "str") to list

In [29]:
#Length of the list
len(items)

4

In [30]:
len(My_items)

7

In [31]:
#Search a particular item -> in operator is used.
"bread" in items

True

In [32]:
"soda" in items

False

#### If statements

In [3]:
#Even and odd program

num = int(input("Enter a number: ")) #-> the enetered number will be a string.

if num % 2 == 0:
    print("even")
else:
    print("Odd")

Enter a number: 33
Odd

In [4]:
#Operators
#Equal to Operator
#greater than operator etc.....
4 == 4

True

In [5]:
4 != 4

False

In [6]:
3<=4

True

In [7]:
#AND, OR, NOT operator

3>2 and 4>1

True

In [8]:
3>2 and 4>5

False

In [9]:
3>2 or 4>5

True

In [10]:
not 4==4 #because 4 == 4 is true.

False

In [11]:
not True

False

In [17]:
#another Problem. 
#-> Write a progam that asks user to enter dish name and it 
# should print which cuisinne is that dish

#We are just creating the lists for cuisines.
indian_cuisine = ["Samosa", "daal", "naan"]
chinese = ["egg role", "pot sticker", "fried rice"]
italian = ["pizza", "pasta", "risotto"]

dish = input("Enter a dish name: ")

# We will use the 'in' operator.
# the searching is case sensitive.
if dish in indian_cuisine:
    print("Indian")
elif dish in chinese:
    print("chinese")
elif dish in italian:
    print("Italian")
else:
    print("I don't know")

Enter a dish name: Samosa
Indian

#### For loops in Python

In [18]:
#Problem: Store monthly expenses in a list and find out total
#         expenses for all months

Expense = [2340, 2500, 2100, 3100, 2980]

total = 0

for item in Expense:
    total = total + item
print(total)

13020